*{
    padding:0%;
    margin:0%;
}
.section1{
    background-color:rgb(238, 195, 195);
    height: 40px;
    margin-top:0;
    width: 100%;
    
}
.section1 p{
    color:red;
    text-align: center;
    padding-top:5px;
    
}
.list{
    background-color:black;
    width:100%;
    height: 50px;
    margin-top:-15px;
}
.list ul li{
    float:left;
    list-style:none;
    width:13%;
    margin-left:50px;
    color:white;
    text-align: center;
    padding-top:15px;

      
}
.list ul a li:hover{
    color: brown;
}
.slide-show{
    background-image:url("images/bg2.jpg");
    width: 100%;
    height: 600px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    margin-left:10%;    
    margin-right:10%;
    height:700px;
}
#tourpalce ul li{
    float:left;
    list-style:none;
    margin-left:20px;
    width: 20%;
    height: 150px;
    text-align: center;
}
#tourpalce ul li img{
    width:100%;
    height: 130px;
}

.container #content h1{
    padding-top: 200px;
    color:red;
}
.container #content h3{
    color: blue;
}

.container .leftcont{
    float: left;
    width:50%;
    height: 200px;
    background-color: rgb(191, 194, 189);

}
.container .rightcont {
    float: right;
    width: 50%;
    height:200px;
    background-color:blue;

}
.container .rightcont p{
    padding:20px;
    color:white;
}
.footer{
    background-color: rgba(166, 172, 177, 0.76);
    height: 20px;
    margin-top:0px;
    
}
.footer p{
    text-align: center;
}
.places{
    background-color: blanchedalmond;
    margin-left: 90px;
    margin-right: 90px;
    height: 1000px;
}
.places h1{
    margin-left:90px;
}
.places ul li{
    float:left;
    list-style: none;
    margin-left:50px;
    margin-bottom: 40px;
    background-color:white;
    width: 20%;
    height:250px;
}
.places ul li img{
    margin-top: 0%;
    margin-left:35px;
    margin-right:35px;
    margin-bottom: 10px;
    width: 80%;
    height: 100px;
}
.places ul li span{
    text-align: center;
    padding-left: 40%;
    color: blueviolet;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.places ul li h4{
    background-color:blue;
    width: 100%;
    height: 20px;
    margin-top:50px;
    text-align: center;
    color: antiquewhite;
}
.details{
    width: 40%;
    float:left;
    height:700px;
}
.sendfd {
    width: 60%;
    float: right;
    height:700px;
}
.details img{
    padding-left:20px;
    padding-top:20px;
}
.details table{
    padding-left:20px;
}
.details table tr{
   height:50px;
}
.sendfd h5{
    background-color: blanchedalmond;
    color: black;
    text-align: center;

}
.sendfd table{
    padding-top:50px;
}
.footer p b{
    background-color: rgb(167, 169, 170);
    
}
.detbody{
    height: 743px;
}
